@charset "UTF-8";
.main, .places-div, .activities{
    display: flex;
    flex-direction: column;
}
.main{
    margin: 5% 5% 0% 5% ;
}
.places{
    padding: 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.places-div{
    height: 200px;
    width: 200px;
    border: 2px solid;
    align-items: center;
}
.activ{
    height: 200px;
    width: 100%;
    border: 2px solid;
    overflow-y: scroll;
}
#gold{
    border: 2px solid;
}
a{
    text-align: center;
    text-decoration: none;
    width: 20%;
    height: 20px;
    border: 2px solid;
    color: black;
    background-color: lightgray;
}