<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment: Dojo Survey</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
</head>
<body>

    <form class="form" action="/result", method="post">
        {% csrf_token %}
        <label for="">Your Name: <input type="text" name="name" ></label> 
        <label for="">
            Dojo Location:
            <select name="location" >
                <option value="seattle">Seattle</option>
                <option value="chicago">Chicago</option>
                <option value="losAngeles">Los Angeles</option>
                <option value="sanJose">San Jose</option>
            </select>
        </label>

        <label for="">
            Favorite Language:
            <select name="language" >
                <option value="python">Python</option>
                <option value="java">Java</option>
                <option value="javaScript">JavaScript</option>
                <option value="c++">C++</option>
                <option value="c#">C#</option>
            </select>
        </label>
        <br>

        Comment(optional): <br><br>
        <textarea name="comment" rows="4" cols="50"></textarea>
        <br>

        <input id="submit" type="submit" value="Submit">
    </form>
</body>
</html>