.main{
    margin: 0% auto;
    margin-top: 10%;
}
.main, form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resRed, .resGreen{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    border: 2px solid black;
    color: white;
    font-weight: bolder;
}
.resRed{
    background-color : darkred;
}
.resGreen{
    flex-direction: column;
    justify-content: space-evenly;
    background-color : darkgreen;
}
button{
    border: 2px solid;
    font-weight: 800;
    background-color: linen;
}
h2{
    color: red;
}