
#button{
    background-color: rgb(245, 249, 252);
    color: rgb(77, 168, 136); 
    border: 2px solid rgb(77, 168, 136); /* Green */
    border-radius: 40px;
    width: 80px;
    display: block;
    margin-block: 2%;
    height: 30px;
}

#add{
    background-color: rgb(77, 168, 136);
    color:rgb(255, 255, 255);
    border: 2px solid rgb(77, 168, 136); /* Green */
    border-radius: 50px;
    display: block;
    margin-block: 2%;
    height: 40px;
    width: 40px;
    font: bold;
}

#Create{
    background-color: blue;
    color:rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0); /* Green */
    margin-block: 2%;
    height: 30px;
    width: 13%;
    box-shadow: 4px 4px black;

}