.main{
    display: flex;
    justify-content:space-evenly;
}

.box{
    height: 200px;
    width: 200px;
    background-color: lightskyblue;
    background-color:{{_color}};
}

h1{
    text-align: center;
}
