.App {
  background-color: #dddddd;
  border: solid black;
  /* height: 50%; */
  margin: 3% auto;
  padding: 20px;
  width:50% ;
}
.Navigation_Main{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.Main-sup{
  display: flex;
  justify-content: space-between;
  width: 100%;
}