h1{
    background-color: black;
    color: aqua;
    font: bold;
    padding: 10px;
    font-family: Arial;
    margin: 1%;
}

h2{
    background-color:blueviolet;
    color: white;
    padding: 10px;
    font-family: Arial;
    text-align: center;
    font-style:italic;
    font-weight: normal;
    margin: 1%;
}

h3{
    background-color:cornflowerblue;
    padding: 10px;
    font-family: Arial;
    text-align: right; 
    text-decoration:underline;
    font-weight: lighter;
    margin: 1%;
}