.App {
  margin: auto 30% ;
  display: flex;
  align-items: center;
  align-content: center;
}

.box{
  width: 500px;
  height: 550px;
  padding: 3%;
  /* background-color: rgb(42, 43, 80); */
  box-shadow: 0px 0px 20px 0px rgb(30, 25, 53);
}

.line{
  text-decoration: line-through;
}